
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rendering Dynamic Images Using Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="stylesheet" type="text/css" href="static/styles/main.css">
</head>

<body>
    
    <header>
        <div class="logo">
            <img src="static/uwilogo.png" alt="Logo">
        </div>
        <div class="title">
            <div class="text">The University of The West Indies</div>
        </div>
        <div class="navigation">
            <div class="text"><a href="{{ url_for('training_section') }}">How to Use</a></div>
            <div class="text"><a href="{{ url_for('about_us') }}">About Us</a></div>
        </div>
    </header>
    

    <footer>
        <div></div>
        <div class="logo">
            <img src="static/dattlogo.png" alt="Logo">
        </div>
        <div class="text">Diabetes Association of Trinidad & Tobago</div>
        <div></div>
        <div class="logo">
            <img src="static/dattlogo.png" alt="Logo">
        </div>
    </footer>
</body>

</html>
<!--{{ url_for('upload_file') }}-->